 header {
    width: 100;
}

.Blog nav ul {
    list-style: none;
}

.Blog nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.Blog nav a {
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    font-size: 10px;
}

Blog nav a.active {
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
}

.Blog nav a:hover,
.Blog nav a.active {
    background-color: blueviolet;
    color: white;
}

